# Indexing and Selecting Data

In this section, you will:

* Select rows from a dataframe
* Select columns from a dataframe
* Select subsets of dataframes

### Selecting Rows

Selecting rows in dataframes is similar to the indexing you have seen in numpy arrays. The syntax ```df[start_index:end_index]``` will subset rows according to the start and end indices.

In [1]:
import numpy as np
import pandas as pd

market_df = pd.read_csv("../global_sales_data/market_fact.csv")
market_df.head()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56
1,Ord_5406,Prod_13,SHP_7549,Cust_1818,42.27,0.01,13,4.56,0.93,0.54
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38

Notice that, by default, pandas assigns integer labels to the rows, starting at 0.

In [2]:
# Selecting the rows from indices 2 to 6
market_df[2:7]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
2,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59
3,Ord_5456,Prod_6,SHP_7625,Cust_1818,2337.89,0.09,43,729.34,14.30,0.37
4,Ord_5485,Prod_17,SHP_7664,Cust_1818,4233.15,0.08,35,1219.87,26.30,0.38
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37
6,Ord_31,Prod_12,SHP_41,Cust_26,14.76,0.01,5,1.32,0.50,0.36

In [6]:
# Selecting alternate rows starting from index = 5
market_df[5::2]

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin
5,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.0200,0.03,23,-47.64,6.15,0.37
7,Ord_4725,Prod_4,SHP_6593,Cust_1641,3410.1575,0.10,48,1137.91,0.99,0.55
9,Ord_4725,Prod_6,SHP_6593,Cust_1641,57.2200,0.07,8,-27.72,6.60,0.37
11,Ord_1925,Prod_6,SHP_2637,Cust_708,465.9000,0.05,38,79.34,4.86,0.38
13,Ord_2207,Prod_11,SHP_3093,Cust_839,3364.2480,0.10,15,-693.23,61.76,0.78
15,Ord_2280,Prod_5,SHP_3114,Cust_839,460.6900,0.06,48,-103.48,7.29,0.45
17,Ord_4471,Prod_15,SHP_6228,Cust_1521,13255.9300,0.02,25,4089.27,26.00,0.60
19,Ord_996,Prod_13,SHP_1378,Cust_371,41.9700,0.05,12,-37.03,4.20,0.56
21,Ord_996,Prod_6,SHP_1378,Cust_371,81.2500,0.01,11,-44.54,7.86,0.37
23,Ord_996,Prod_7,SHP_1378,Cust_371,35.6400,0.05,10,-0.71,1.63,0.36
25,Ord_2335,Prod_13,SHP_3204,Cust_931,38.2600,0.03,22,-2.34,0.70,0.56
27,Ord_2405,Prod_9,SHP_3300,Cust_931,1062.6900,0.01,28,401.80,6.66,0.40
29,Ord_2478,Prod_12,SHP_3395,Cust_931,139.9800,0.07,33,-140.54,6.89,0.39
31,Ord_2573,Prod_7,SHP_3526,Cust_931,68.9200,0.04,22,2.63,1.58,0.39
33,Ord_5046,Prod_17,SHP_7042,Cust_1710,630.9900,0.07,49,-114.64,9.44,0.39
35,Ord_5033,Prod_2,SHP_7022,Cust_1710,139.0000,0.05,16,-96.33,9.23,0.58
37,Ord_5040,Prod_2,SHP_7032,Cust_1710,1637.7800,0.08,38,461.65,4.62,0.56
39,Ord_5045,Prod_5,SHP_7040,Cust_1710,1286.8700,0.05,48,384.38,6.93,0.49
41,Ord_5046,Prod_7,SHP_7041,Cust_1710,202.1100,0.08,40,-17.49,3.39,0.37
43,Ord_1189,Prod_6,SHP_1641,Cust_452,49.6100,0.00,1,-41.82,17.08,0.40
45,Ord_4768,Prod_12,SHP_6650,Cust_1579,3.8500,0.08,1,-1.36,0.99,0.37
47,Ord_4659,Prod_6,SHP_6493,Cust_1579,1451.5900,0.06,26,435.11,14.30,0.37
49,Ord_4657,Prod_5,SHP_6490,Cust_1579,336.8600,0.06,23,36.32,5.30,0.46
51,Ord_4768,Prod_4,SHP_6651,Cust_1579,547.0005,0.08,10,-97.20,3.90,0.55
53,Ord_4659,Prod_6,SHP_6492,Cust_1579,391.9000,0.10,11,-47.01,19.99,0.38
55,Ord_4657,Prod_5,SHP_6489,Cust_1579,418.0300,0.00,47,-158.58,7.96,0.49
57,Ord_4546,Prod_1,SHP_6327,Cust_1474,5208.7800,0.05,34,1547.78,7.07,0.59
59,Ord_4552,Prod_4,SHP_6335,Cust_1474,284.4525,0.06,5,-254.78,8.99,0.58
61,Ord_4497,Prod_13,SHP_6261,Cust_1474,211.9700,0.06,10,-46.83,8.99,0.59
63,Ord_4499,Prod_13,SHP_6265,Cust_1474,6.7600,0.02,3,-4.28,1.57,0.59
...,...,...,...,...,...,...,...,...,...,...
8339,Ord_2178,Prod_2,SHP_2967,Cust_785,139.6900,0.01,16,-95.64,9.23,0.58
8341,Ord_2095,Prod_3,SHP_2867,Cust_785,206.2700,0.09,30,-54.44,5.48,0.37
8343,Ord_2178,Prod_4,SHP_2968,Cust_785,6030.5800,0.09,39,1197.86,8.99,0.58
8345,Ord_2161,Prod_6,SHP_2945,Cust_785,203.4800,0.04,30,-71.91,6.35,0.37
8347,Ord_3534,Prod_4,SHP_4894,Cust_1266,1735.3515,0.08,31,258.62,8.99,0.56
8349,Ord_3543,Prod_1,SHP_4905,Cust_1266,1184.1100,0.07,6,-145.07,19.99,0.71
8351,Ord_3584,Prod_15,SHP_4961,Cust_1266,2502.6700,0.10,9,-198.80,64.73,0.56
8353,Ord_3610,Prod_13,SHP_4999,Cust_1266,88.5900,0.05,7,-26.29,5.81,0.60
8355,Ord_3592,Prod_17,SHP_4973,Cust_1266,636.5000,0.01,46,-71.98,9.44,0.39
8357,Ord_3610,Prod_14,SHP_4998,Cust_1266,1759.6500,0.06,3,-2213.75,24.49,0.50
8359,Ord_3543,Prod_3,SHP_4906,Cust_1266,514.2200,0.02,17,187.37,2.99,0.35
8361,Ord_3553,Prod_16,SHP_4920,Cust_1274,128.3100,0.05,39,-55.72,1.92,0.84
8363,Ord_3630,Prod_6,SHP_5028,Cust_1274,134.6800,0.10,29,-66.46,4.70,0.38
8365,Ord_3588,Prod_3,SHP_4968,Cust_1274,107.6300,0.00,15,-29.89,5.48,0.37
8367,Ord_3593,Prod_15,SHP_4975,Cust_1274,6685.0500,0.09,25,1653.60,24.49,NaN
8369,Ord_3633,Prod_3,SHP_5031,Cust_1274,1169.2600,0.02,41,515.62,1.49,0.38
8371,Ord_2624,Prod_4,SHP_3591,Cust_1006,4924.1350,0.07,28,1049.54,8.99,0.58
8373,Ord_2600,Prod_16,SHP_3560,Cust_1006,106.6400,0.10,30,-31.95,1.32,0.83
8375,Ord_2772,Prod_3,SHP_3806,Cust_1006,1413.8200,0.10,47,226.53,11.63,0.37
8377,Ord_2722,Prod_12,SHP_3729,Cust_1006,34.0100,0.00,12,10.58,0.50,0.39
8379,Ord_2722,Prod_5,SHP_3730,Cust_1006,1008.9500,0.04,41,69.31,8.99,0.50
8381,Ord_2696,Prod_4,SHP_3691,Cust_1006,2836.0505,0.01,25,561.13,8.99,0.59
8383,Ord_2722,Prod_1,SHP_3731,Cust_1006,3508.3300,0.04,21,-546.98,35.00,0.85
8385,Ord_1833,Prod_3,SHP_2527,Cust_637,611.1600,0.04,46,100.22,4.98,0.40
8387,Ord_2220,Prod_3,SHP_3019,Cust_851,41.0600,0.04,4,-16.39,6.28,0.35
8389,Ord_4444,Prod_13,SHP_6192,Cust_1519,159.4100,0.00,44,34.68,0.98,0.52
8391,Ord_5435,Prod_4,SHP_7594,Cust_1798,1991.8985,0.07,20,88.36,7.69,0.58
8393,Ord_5348,Prod_8,SHP_7470,Cust_1798,356.7200,0.07,9,12.61,1.99,0.44
8395,Ord_5411,Prod_6,SHP_7555,Cust_1798,127.1600,0.10,20,-74.03,6.92,0.37
8397,Ord_5348,Prod_15,SHP_7469,Cust_1798,3872.8700,0.03,23,565.34,30.00,0.62

### Selecting Columns

There are two simple ways to select a single column from a dataframe - ```df['column_name']``` and ```df.column_name```.

In [5]:
# Using df['column']
sales = market_df['Sales']
sales.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [5]:
# Using df.column
sales = market_df.Sales
sales.head()

0     136.81
1      42.27
2    4701.69
3    2337.89
4    4233.15
Name: Sales, dtype: float64

In [6]:
# Notice that in both these cases, the resultant is a Series object
print(type(market_df['Sales']))
print(type(market_df.Sales))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

#### Selecting Multiple Columns 

You can select multiple columns by passing the list of column names inside the ```[]```: ```df[['column_1', 'column_2', 'column_n']]```.

For instance, to select only the columns Cust_id, Sales and Profit:

In [7]:
# Select Cust_id, Sales and Profit:
market_df[['Cust_id', 'Sales', 'Profit']].head()

     Cust_id    Sales   Profit
0  Cust_1818   136.81   -30.51
1  Cust_1818    42.27     4.56
2  Cust_1818  4701.69  1148.90
3  Cust_1818  2337.89   729.34
4  Cust_1818  4233.15  1219.87

Notice that in this case, the output is itself a dataframe.

In [8]:
type(market_df[['Cust_id', 'Sales', 'Profit']])

pandas.core.frame.DataFrame

In [9]:
# Similarly, if you select one column using double square brackets, 
# you'll get a df, not Series

type(market_df[['Sales']])

pandas.core.frame.DataFrame

### Selecting Subsets of Dataframes

Until now, you have seen selecting rows and columns using the following ways:
* Selecting rows: ```df[start:stop]```
* Selecting columns: ```df['column']``` or ```df.column``` or ```df[['col_x', 'col_y']]```
    * ```df['column']``` or ```df.column``` return a series
    * ```df[['col_x', 'col_y']]``` returns a dataframe

But pandas does not prefer this way of indexing dataframes, since it has some ambiguity. For instance, let's try and select the third row of the dataframe.

In [10]:
# Trying to select the third row: Throws an error
market_df[2]

KeyError: 2

Pandas throws an error because it is confused whether the ```[2]``` is an *index* or a *label*. Recall from the previous section that you can change the row indices.

In [ ]:
# Changing the row indices to Ord_id
market_df.set_index('Ord_id').head()

Now imagine you had a column with entries ```[2, 4, 7, 8 ...]```, and you set that as the index. What should ```df[2]``` return?
The second row, or the row with the index value = 2?

Taking an example from this dataset, say you decide to assign the ```Order_Quantity``` column as the index.

In [ ]:
market_df.set_index('Order_Quantity').head()

Now, what should ```df[13]``` return - the 14th row, or the row with index label 13 (i.e. the second row)?

Because of this and similar other ambiguities, pandas provides **explicit ways** to subset dataframes - position based indexing and label based indexing, which we'll study next.